<div style="display: flex; justify-content: center">
  <div style="width: 40%; margin-top: 80px">
    <div style="height: 400px; overflow: scroll">
      <div *ngFor="let item of data; let i = index;" style="padding: 16px; background: #9575cd; color: white
    ; border-radius: 8px; box-shadow: #333333 2px 2px; margin-top: 10px">
        <p><span style="margin-right: 8px">Name: </span>{{item.name}}</p>
        <p><span style="margin-right: 8px">Age: </span>{{item.age}}</p>
        <p><span style="margin-right: 8px">School: </span>{{item.school}}</p>
        <p><span style="margin-right: 8px">Phone: </span>{{item.phone}}</p>
        <p><span style="margin-right: 8px">Email: </span>{{item.email}}</p>
        <button mat-button style="margin-top: 10px; background: yellowgreen; color: white"
                (click)="deleteUser(i)">Delete</button>
      </div>

    </div>


  </div>
  <div style="width: 40%">
    <div style="display: flex; flex-direction: column; justify-content: start; align-items: center">
      <form [formGroup]="form" style="width: 50%;margin-top: 80px; display: flex; flex-direction: column">
        <mat-form-field>
          <input matInput placeholder="name" label="Name"
                 formControlName="name">
        </mat-form-field>
        <p *ngIf="form.get('name')?.touched && form.get('name')?.invalid" style="color: red; font-size: 12px; margin-top: -14px">Name Required*</p>
        <mat-form-field>
          <input matInput placeholder="age" label="age" formControlName="age">
        </mat-form-field>
        <p *ngIf="form.get('age')?.touched && form.get('age')?.invalid" style="color: red; font-size: 12px; margin-top: -14px">Age Required*</p>
        <mat-form-field>
          <input matInput placeholder="email" label="email"
                 formControlName="email">
        </mat-form-field>
        <p *ngIf="form.get('email')?.touched && form.get('email')?.invalid" style="color: red; font-size: 12px; margin-top: -14px">Email Required*</p>
        <mat-form-field>
          <input matInput placeholder="phone" label="phone" formControlName="phone">
        </mat-form-field>
        <p *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" style="color: red; font-size: 12px; margin-top: -14px">Phone Required*</p>
        <mat-form-field>
          <input matInput placeholder="school" label="school" formControlName="school">
        </mat-form-field>
        <p *ngIf="form.get('school')?.touched && form.get('school')?.invalid" style="color: red; font-size: 12px; margin-top: -14px">School Required*</p>
      </form>
      <button [disabled]="form.invalid" (click)="addUsers()"
              color="primary" style="display: flex; justify-content: center; align-items: center" mat-raised-button>
        <mat-icon>add</mat-icon>
        <span>Add Users </span>
      </button>
    </div>


  </div>
</div>

<div style="display: flex; margin-top: 100px; justify-content: center;">
  <div style="width: 80%; display: flex; flex-direction: column; justify-content: center; align-items: center">

    <form [formGroup]="formGraph" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
      <mat-form-field style="width: 40%">
        <input matInput placeholder="Name" label="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field style="width: 40%">
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field style="width: 40%">
        <textarea matInput rows="5" placeholder="comment" formControlName="body"></textarea>
      </mat-form-field>
    </form>

    <button (click)="updateComment()"
            color="primary" style="display: flex; justify-content: center; align-items: center" mat-raised-button>
      <mat-icon>update</mat-icon>
      <span>Add Users </span>
    </button>


  </div>
</div>




